<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div style="border: 1px solid black; width: 310px; margin:auto; margin-top: 50px; padding: 30px;" >
            <form action="/result" method="POST">
                Your Name: <input type="text" name="name" style="position: relative; left: 60px; margin: 9px;"> <br>
                Dojo Location: <select name="location" style="position: relative; left: 40px; margin: 9px; width: 153px; padding: 1px 2px;">
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                </select> <br>
                Favorite Language: <select name="language" style="position: relative; left: 12px; margin: 9px; width: 153px; padding: 1px 2px;">
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="c">C</option>
                    <option value="c++">C++</option>
                </select> <br>
                Comment (optional): <br>
                <textarea name="comment" id="" cols="30" rows="7" style="margin-top: 4px; width: 300px;"></textarea>
                <input type="submit" value="Button" style="margin-left: 250px; background-color: teal;">
            </form>
        </div>
    </body>
</html>